/*-- scss:defaults --*/
// Base document colors
$link-color: #f39220;
$link-color-hover: #f39220;
$navbar-bg: #575656;
$navbar-border-color: $gray-500;
$navbar-text-color: #fff;
$subtitle-color: #575656;
$about-link-color: #fff;
